* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    line-height: 16px;

    color: #f3f5ef;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    /** kode css untuk navbar **/
    .navbar {
        height: 150px;
    }
    .navbar-container {
        width: 100%;
    }
    .navbar-upsection {
        display: flex;
        justify-content: space-between;
    }
    .navbar-userlocation {
        margin-top: 10px;
    }
    .text.greetuser {
        font-size: 20px;
    }
    .searchbar {
        width: 100%;
    }
    /** kode css untuk navbar **/

    /** kode css untuk kategori **/
    .cathegory {
        height: 150px;
    }
    .cathegory-container {
        height: 100%;
        background-color: rgb(224, 223, 223);
    }
    .text.sectiontitle {
        color: black;
    }
    .cathegoryslider-container {
        display: grid;
        max-width: 100%;
        height: 100%;
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 10px;
        padding: 20px;

        background-color: white;
    }
    .cathegoryslider-container::-webkit-scrollbar {
        display: none;
    }
    .cathegoryslider_wrapper {
        text-align: center;
        margin: 0px 10px 0px 10px;
    }
    .cathegoryslider_img_wrapper {
        position: relative;
        width: 60px;
    }
    .cathegoryslider_img_wrapper::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(#e66465, #9198e5);
        z-index: -1;
        width: calc(100% + 13px);
        height: calc(100% + 13px);
        border-radius: 50%;
    }
    .cathegoryslider_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
    /** kode css untuk kategori **/

    /** kode css untuk rekomendasi **/
    .recomendation {
        height: max-content;
        background-color: rgb(224, 223, 223);
    }

    .recomendationslider-container {
        display: grid;
        display: flex;
        flex-wrap: wrap;
        grid-auto-flow: dense;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        gap: 10px;

        background-color: white;

        align-content: center;
        justify-content: space-around;
    }

    .recomendationslider_wrapper {
        width: 150px;
        height: 150px;
        padding: 0px 5px 0px 5px;
        margin: 10px 0px 10px 0px;
        border: 1px solid black;
        border-radius: 10px;

        /* display: grid;
        justify-content: center; */
    }

    .recomendation_img_wrapper {
        position: relative;
        width: 150px;
        height: max-content;
    }

    .recomendationslider_img {
        width: 80px;
        height: 80px;
        left: 50%;
        right: 50%;
    }
    /** kode css untuk rekomendasi **/

    .border {
        width: 350px;
        height: 500px;
        display: grid;
        align-items: center;
    }

    /** kode css untuk halaman kategori **/
    .cathegory_wrapper {
        width: 100%;
        height: 70px;
    }

    .cathegory_img {
        width: 50px;
        height: 50px;
    }

    .returnarrow_img {
        margin: 10px 20px 10px 10px;
    }

    .userprofile_img {
        /* margin-left: 160px; */
        margin-left: 270px;
    }
    /** kode css untuk halaman kategori **/

    /** pop up **/
    .popup {
        display: grid;
        display: flex;
        flex-wrap: wrap;
        grid-auto-flow: dense;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        gap: 10px;

        background-color: white;

        align-content: center;
        justify-content: space-around;
    }

    /** kode css untuk halaman add product **/

    /** kode css untuk add icon **/
    .add-icon {
        position: fixed;
        left: 35%;
        bottom: 20px;

        z-index: 1;
    }

    .add-product-text {
        position: fixed;
        left: 50%;
        bottom: 35px;

        font-size: medium;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

        color: rgb(192, 189, 189);

        z-index: 1;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .navbar {
        height: 150px;
    }
    .navbar-container {
        width: 100%;
    }
    .navbar-upsection {
        display: flex;
        justify-content: space-between;
    }
    .text.greetuser {
        font-size: xx-large;
        font-family: Arial, Helvetica, sans-serif;
    }
    .text.location {
        font-family: Arial, Helvetica, sans-serif;
    }
    .navbar-downsection {
        display: flex;
        justify-content: center;
    }
    .searchbar {
        border-radius: 50px;
        width: 70%;
        height: 40px;
    }

    .cathegory {
        height: 150px;
    }
    .cathegory-container {
        height: 100%;
        background-color: rgb(243, 243, 243);
    }
    .text.sectiontitle {
        color: black;
    }
    .cathegoryslider-container {
        display: grid;
        max-width: 100%;
        height: 100%;
        grid-auto-flow: column;
        overflow-x: auto;
        gap: 10px;
        padding: 20px;

        background-color: white;
    }
    .cathegoryslider-container::-webkit-scrollbar {
        display: none;
    }
    .cathegoryslider_wrapper {
        text-align: center;
        margin: 0px 10px 0px 10px;
    }
    .cathegoryslider_img_wrapper {
        position: relative;
        width: 60px;
    }
    .cathegoryslider_img_wrapper::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(#e66465, #9198e5);
        z-index: -1;
        width: calc(100% + 13px);
        height: calc(100% + 13px);
        border-radius: 50%;
    }
    .cathegoryslider_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .recomendation {
        height: max-content;
        background-color: rgb(243, 243, 243);
    }
    .recomendationslider-container {
        display: grid;
        display: flex;
        flex-wrap: wrap;
        grid-auto-flow: dense;
        max-width: 100%;
        height: 100%;
        overflow-y: auto;
        padding: 10px;
        gap: 10px;

        background-color: white;

        align-content: center;
        justify-content: space-around;
    }
    .recomendationslider_wrapper {
        width: 150px;
        height: 150px;
        padding: 0px 5px 0px 5px;
        margin: 10px 0px 10px 0px;
        border: 1px solid black;
        border-radius: 10px;

        /* display: grid;
        justify-content: center; */
    }
    .recomendation_img_wrapper {
        position: relative;
        width: 150px;
        height: max-content;
    }
    .recomendationslider_img {
        width: 80px;
        height: 80px;
        left: 50%;
        right: 50%;
    }
}
